<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
</head>

<body>
    <section class="p-5">
        <div class="container ">
            <i class="fas fa-trash-alt"></i>
            <a class="btn btn-primary" href="#" th:href="@{/addNotes}">Add Notes</a>
            <h3 class="mt-2">Your notes</h3>
            <div class="card text-white bg-dark mb-3" th:each="note: ${notesFetched}" style="max-width: 100%;">
                <div class="card-body">
                    <h3 class="card-title mb-3" th:text="${note.title}"></h3>
                    <p class="card-text" th:text="${note.description}"></p>
                    <a  th:href="@{/delete/{id}(id=${note.id})}" class="btn btn-danger">delete</a>
                    <a class="btn btn-primary" href="#" th:href="@{/showFormEdit/{id}(id=${note.id})}">Update Notes</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>